@import "reset"

$red: #bd1818

// FONT
@font-face
	font-family: 'MuseoSansCyrl'
	src: url('../fonts/MuseoSansCyrl_500.otf') format('opentype')
	font-weight: normal
	font-style: normal
@font-face
	font-family: 'MuseoSansCyrl'
	src: url('../fonts/MuseoSansCyrl_500_Italic.otf') format('opentype')
	font-weight: normal
	font-style: italic
@font-face
	font-family: 'MuseoSansCyrl'
	src: url('../fonts/MuseoSansCyrl_300.otf') format('opentype')
	font-weight: 300
	font-style: normal
@font-face
	font-family: 'MuseoSansCyrl'
	src: url('../fonts/MuseoSansCyrl_300_Italic.otf') format('opentype')
	font-weight: 300
	font-style: italic
@font-face
	font-family: 'MuseoSansCyrl'
	src: url('../fonts/MuseoSansCyrl_100.otf') format('opentype')
	font-weight: 100
	font-style: normal
@font-face
	font-family: 'MuseoSansCyrl'
	src: url('../fonts/MuseoSansCyrl_100_Italic.otf') format('opentype')
	font-weight: 100
	font-style: italic
@font-face
	font-family: 'MuseoSansCyrl'
	src: url('../fonts/MuseoSansCyrl_700.otf') format('opentype')
	font-weight: 700
	font-style: normal
@font-face
	font-family: 'MuseoSansCyrl'
	src: url('../fonts/MuseoSansCyrl_700_Italic.otf') format('opentype')
	font-weight: 700
	font-style: italic
@font-face
	font-family: 'MuseoSansCyrl'
	src: url('../fonts/MuseoSansCyrl_900.otf') format('opentype')
	font-weight: 900
	font-style: normal
@font-face
	font-family: 'MuseoSansCyrl'
	src: url('../fonts/MuseoSansCyrl_900_Italic.otf') format('opentype')
	font-weight: 900
	font-style: italic

// UTILITY

.wrapper
	margin: 0 auto

a
	text-decoration: none
	color: #485259

em
	font-weight: 700

// POPUP

#callback, #enter
	display: none

.fancybox-overlay
	background: none
.fancybox-opened .fancybox-skin
	box-shadow: 0 0px 30px 2px rgba(0, 0, 0, 0.3)
.fancybox-close
	background: #6a7686 url('../img/icons/close.png') no-repeat center
	top: 0px
	right: 0px
	width: 18px
	height: 18px
	border: 1px solid #565d66
	border-radius: 0 3px 0 3px
	&:hover
		background: $red url('../img/icons/close.png') no-repeat center
		border-color: $red

#callback, #enter
	color: #282828
	text-align: center
	h3
		text-align: center
		padding-bottom: 20px
		margin-bottom: 30px
		border-bottom: 1px solid #ebebeb
	label
		display: block
		text-align: right
		margin-bottom: 15px
		font-size: 13px
	[type="text"], [type="email"]
		margin-left: 5px
		padding: 0 5px
		border: 1px solid #d5dee5
		border-radius: 2px
		background-color: rgb(255, 255, 255)
		box-shadow: inset 0px 1px 5px 0px rgba(213, 222, 229, 0.5)
		width: 205px
		height: 25px
	button
		position: relative
		margin: 30px 5px 0
		border: none
		border-radius: 3px
		box-shadow: 0px 2px 5px 0px rgba(22, 23, 24, 0.4)
		width: 101px
		height: 32px
		font-size: 12px
		color: #fff
		cursor: pointer
		&:after
			position: absolute
			content: ''
			left: 0
			bottom: 0
			width: 100%
			height: 5px
			box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, .16)
	.submit
		background-image: linear-gradient( to top, rgb(64,194,24) 0%, rgb(0,255,1) 100%)
		&:hover
			background: #03bc02

	.cancel
		background: #6b7788
		transition: all .3s
		&:hover
			background: #656f7e
			box-shadow: 0px 2px 6px 0px rgba(22, 23, 24, 0.6)
#callback
	width: 345px
	padding: 5px 0

.enter .fancybox-skin
	padding: 0 !important
#enter
	>*
		padding: 35px 20px 25px
	.left
		float: left
		width: 300px
	.right
		float: right
		width: 200px
		height: 270px
		background: #f4f5f8
	.forget
		font-size: 12px
		margin-left: -50px
		border-bottom: 1px dotted #282828
	.checkbox
		text-align: left
		margin: 20px 0 0 80px
		input
			position: relative
			top: 2px
	.vk, .fb
		margin-bottom: 12px
		position: relative
		display: inline-block
		width: 204px
		height: 45px
		line-height: 45px
		background: #fff
		box-shadow: 0px 2px 5px 0px rgba(202, 210, 217, 0.4)
		border: 1px solid #cad2d9
		font-size: 15px
		font-weight: 700
		&:after
			position: absolute
			content: ''
			left: 0
			bottom: 0
			width: 100%
			height: 5px
			box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, .16)
		&:before
			position: absolute
			content: ''
			left: 0
			bottom: 0
			width: 46px
			height: 47px
			border-right: 1px solid #cad2d9
	.vk
		color: #557b9e
		&:before
			background: url('../img/icons/enter-vk.png') no-repeat center
	.fb
		color: #3b5998
		&:before
			background: url('../img/icons/enter-fb.png') no-repeat center

// BUTTONS

.submit, .reg
	position: relative
	display: inline-block
	border: none
	border-radius: 3px
	box-shadow: 0px 2px 5px 0px rgba(22, 23, 24, 0.4)
	font-size: 12px
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3)
	color: #fff
	cursor: pointer
	&:hover
		background: #03bc02
	&:after
		position: absolute
		content: ''
		left: 0
		bottom: 0
		width: 100%
		height: 5px
		box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, .16)
.submit
	background-image: linear-gradient( to top, rgb(64,194,24) 0%, rgb(0,255,1) 100%)
.reg
	transition: all .3s
	width: 175px
	height: 30px
	line-height: 30px
	background: #de9813
	&:hover
		background: #de8613
		box-shadow: 0px 2px 6px 0px rgba(22, 23, 24, 0.6)


// ANIMATION


// GENERAL

body
	font-family: 'MuseoSansCyrl', sans-serif
	font-size: 16px

header
	background: #fff url('../img/bg-header.png') center repeat-x
	height: 130px
	box-shadow: 0 0 3px 0 rgba(228, 228, 228, 1), inset 0 -10px 20px 0 rgba(0, 0, 0, .05)
	border-bottom: 1px solid #d5dee5


	.wrapper
		max-width: 1500px

	.header-logo
		margin-top: 12px
		width: 240px
		height: 100px
		display: block
		float: left
		background: url('../img/logo-text.png') no-repeat center right

		&:before
			content: url('../img/logo.png')
			display: inline-block
	.header-nav
		padding-top: 12px
		margin-left: 40px
		float: left

		ul
			margin-left: 70px

		li
			display: inline-block
			margin: 0 7px
			font-size: 13px
		a:hover
			text-decoration: underline
		form
			width: 660px
			position: relative
		p
			position: relative
			margin: 27px 0 5px
			&:before, &:after
				position: absolute
				content: ''
				width: 25px
				height: 25px
				background: $red
				border-radius: 3px 5px 3px 5px
			&:before
				bottom: -4px
				left: -4px
			&:after
				right: -4px
				top: -4px
		input
			position: relative
			z-index: 1
			box-shadow: inset 0px 1px 5px 0px rgba(213, 222, 229, 0.5)
			border: 1px solid #d5dee5
			height: 34px
			width: calc(100% - 64px)
			padding: 0 45px 0 17px
			border-radius: 3px
			color: #485259
		span
			font-size: 11px
			color: #485259
			padding-left: 18px
			i
				border-bottom: 1px dotted #485259

			&:before
				position: absolute
				top: 0
				right: 0
				z-index: 1
				content: ''
				width: 39px
				height: 35px
				border-left: 1px solid #d5dee5
				background: url('../img/icons/search.png') center no-repeat

	.header-contacts
		float: left
		margin-left: 75px
		padding-top: 15px
		width: 275px
		a
			position: relative
			display: block
			padding-left: 29px
			font-size: 13px
			line-height: 1.65
		[href*="tel"], [href*="mail"]
			float: left
			&:before
				position: absolute
				top: 2px
				left: 2px
				width: 16px
				height: 15px
				content: ''
		[href*="tel"]:nth-child(2):before
			background: url('../img/icons/tel.png') center no-repeat
		[href*="mail"]
			margin-top: 10px
		[href*="mail"]:before
			background: url('../img/icons/mail.png') center no-repeat
		.callme
			height: 32px
			line-height: 32px
			border: 1px solid $red
			border-radius: 3px
			float: right
			padding: 0 14px 0 36px
			margin-top: -10px
			margin-left: 20px
			background: url('../img/icons/call.png') 8px no-repeat

	.header-personal
		width: 150px
		float: right
		font-size: 13px
		padding-top: 16px
		.cab
			position: relative
			margin-left: 26px
			border-bottom: 1px dotted #485259
			&:hover
				color: $red
				border-color: $red
			&:before
				position: absolute
				content: ''
				top: 0
				left: -20px
				width: 15px
				height: 15px
				background: url('../img/icons/user.png') no-repeat
		[class*="header"]
			position: relative
			margin: 24px 2px 0
			width: 66px
			height: 66px
			display: inline-block
			border-radius: 3px
			border: 1px solid #7d7d7d
			text-align: center
			font-size: 10px
			&:hover
				border: 1px solid $red
			&:before
				position: relative
				display: block
				content: ''
				height: 45px
				width: 100%
			&:after
				position: absolute
				top: 4px
				right: 8px
				width: 20px
				height: 20px
				border: 2px solid
				border-radius: 50%
				line-height: 22px
				content: attr(data-number)
				background: #fff
				font-weight: 700
				font-size: 9px
		.header-like:before
			background: url('../img/icons/like.png') center no-repeat
		.header-like:after
			border-color: #de9711
		.header-basket:before
			background: url('../img/icons/basket.png') center no-repeat
		.header-basket:after
			border-color: #27d90f

		.header-like:hover + .description,
		.header-basket:hover + .description
			opacity: 1
			transition: opacity .3s ease .3s
		.header-like + .description, .header-basket + .description
			position: absolute
			opacity: 0
			transition: opacity .3s ease .7s
			width: 275px
			padding: 20px
			background: #fff
			box-shadow: 0px 2px 18.63px 8.37px rgba(202, 210, 217, 0.4)
			border: 1px solid #cad2d9
			color: #3b3f47
			text-align: center
			&:before, &:after
				position: absolute
				content: ''
				border-left: 17px solid transparent
				border-right: 17px solid transparent
			&:before
				top: -18px
				right: 20px
				border-bottom: 18px solid #cad2d9
			&:after
				top: -17px
				right: 20px
				border-bottom: 18px solid #fff
			h3
				font-size: 16px
				font-weight: 700
				margin-bottom: 25px
				text-transform: uppercase
				&:before
					position: relative
					display: block
					content: ''
					width: 40px
					height: 40px
					margin: 0 auto 30px
			p
				line-height: 25px
				font-size: 14px
			span
				display: block
				margin-top: 30px
			a
				display: inline-block
				margin-top: 10px
				color: #bd1818
				border-bottom: 1px dotted #bd1818
		.header-like + .description
			top: 137px
			right: 125px
			h3:before
				width: 40px
				height: 40px
				margin: 0 auto 30px
				background: url("../img/icons/like-des.png") center no-repeat
				background-size: contain
		.header-basket + .description
			top: 137px
			right: 53px
			a
				margin-top: 0
			h3:before
				width: 40px
				height: 40px
				margin: 0 auto 30px
				background: url("../img/icons/basket.png") center no-repeat
				background-size: contain

			&.full
				transition-delay: 1s
				span
					margin-top: 15px
					font-size: 16px
					&:first-child
						margin-top: 0
				a
					position: relative
					color: #3b3f47
					border-color: #3b3f47
					&.basket
						margin-left: 20px
					&.basket:before
						position: absolute
						left: -33px
						top: -3px
						content: ''
						height: 20px
						width: 20px
						background: url('../img/icons/basket.png') no-repeat
						background-size: contain
					&.basket:after
						position: absolute
						left: -17px
						top: 0
						content: '-'
						height: 20px
						width: 20px

				hr
					background: #cad2d9
					margin: 25px -20px
					height: 1px
					border: none
				.submit
					font-size: 16px
					font-weight: 700
					margin-top: 20px
					color: #fff
					display: inline-block
					border: none
					padding: 15px 44px

.catalog
	float: left
	width: 275px
	margin-left: 20px
	position: relative

	h2
		position: relative
		height: 55px
		background: #de9813 url('../img/icons/arrow-drop-down.png') no-repeat 250px center
		cursor: pointer
		padding-left: 20px
		text-transform: uppercase
		line-height: 55px
		color: #fff
		text-transform: uppercase
		font-weight: 700
		border-radius: 3px
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .4)
		&:after
			position: absolute
			content: ''
			left: 0
			bottom: 0
			width: 100%
			height: 5px
			box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, .16)

	li
		position: relative
		border: 1px solid #cad2d9
		border-top: 0
		// z-index: 2
		// background: #fff
		// &.submenu
		// 	z-index: 1
		// &.shadow
		// 	z-index: 1
		// 	background: none
		// 	border: none
		// 	position: absolute
		// 	height: 96%
		// 	width: 30px
		// 	box-shadow: 15px 0 15px 0 rgba(0,0,0,0.3)
		// 	top: 2%
		// 	right: 5px
		// 	border-radius: 0 50% 50% 0
		// &.submenu:hover ~ .shadow
		// 	display: block
		&:nth-last-child(1)
			border-bottom: 4px solid #cad2d9

		ul
			width: 273px
			display: none
			position: absolute
			top: -1px
			right: -273px
			border-top: 1px solid #cad2d9
			box-shadow: inset 10px 0 20px 0 rgba(0, 0, 0, .1)
			z-index: 1
			background: #fff
			&:after
				position: absolute
				left: 0
				top: 0
				content: ''
				height: 100%
				width: 18px
				background: url('../img/icons/shadow.png') repeat-y
	a
		display: block
		height: 100%
		padding: 9px 20px
		font-size: 13px
		&:hover + ul, & + ul:hover
			display: block
		&:hover
			background: #fef2da
			color: #be1818
			&:after
				position: absolute
				height: 15px
				width: 10px
				content: ''
				right: 11px
				top: 13px
				background: url('../img/icons/arrow-right-hover-red.png') no-repeat

.main
	background: #fff
	box-shadow: 0px 10px 50px 0px rgba(0,0,0,.1)
	max-width: 1550px
	margin: 0 auto
	height: 3000px
	padding-top: 50px

.breadcrumbs
	display: inline-block
	margin-left: 80px
	padding-bottom: 2px
	border-bottom: 1px solid #dee0e1
	li
		display: inline-block
		margin-right: 15px
		&:nth-child(3) a
			color: #bd0f0e
		&:last-child
			margin-right: 0
	a
		font-size: 13px
		font-weight: 700
		position: relative
		&:after
			position: absolute
			content: ''
			width: 0
			height: 3px
			background: #bd0f0e
			left: 50%
			bottom: -3px
			transition: all .5s ease
		&.active
			font-size: 17px
		&.active, &:hover
			&:after
				left: 0%
				width: 100%
				transition: all .5s ease
.slider
	width: 700px
	height: 290px
	overflow: hidden
	margin: 20px 0 7px
	position: relative

	ul
		width: 9999px
	ul li
		float: left
		width: 700px
		height: 290px
	.nav
		position: absolute
		right: 20px
		bottom: 20px
	.nav span
		opacity: 0.9
		background: #d4d4d4
		margin-right: 5px
		width: 13px
		height: 13px
		border-radius: 50%
		cursor: pointer
		overflow: hidden
		display: block
		float: left
		box-shadow: 0 1px 2px #000
		box-shadow: inset 0px 1px 0.97px 0.03px rgba(22, 23, 24, 0.69)
		&.on
			background: #2e9419

.main-content
	margin-left: 320px

	aside
		width: 500px
		float: right

.news
	margin-top: 23px
	width: 700px
	overflow: hidden
.news-wrapper
	display: inline-block
	width: 10000px
	position: relative
	.news-single
		float: left
		width: 220px
		height: 300px
		margin-left: 17px
		border: 1px solid #cad2d9
		line-height: 1.2
		transition: border-color .2s ease
		&:first-child
			margin-left: 0

		h4
			margin: 18px 15px 15px
			font-size: 14px
			font-weight: 700

		.date
			margin-bottom: 13px
			width: 85px
			height: 30px
			padding-left: 15px
			line-height: 30px
			display: block
			border-radius: 0 3px 3px 0
			background: #485158
			color: #fff
			font-style: italic
			font-size: 11px

		img
			width: 100%

		p
			font-size: 12px
			margin: 15px
			height: 144px
		img + p
			height: 52px

		.more
			position: relative
			display: block
			height: 30px
			text-align: center
			background: #ecf0f5
			font-size: 13px
			line-height: 30px
			font-weight: 700
			text-indent: 10px
			color: #707a87
			border-top: 1px solid #cad2d9
			transition-duration: .2s
			&:before
				position: absolute
				top: 13px
				left: 56px
				content: ''
				background: url('../img/icons/dots.png') no-repeat
				height: 5px
				width: 16px
		&:hover
			border-color: #c12227
			transition: border-color .2s ease
			.more
				transition-duration: .2s
				background: #c12227
				border-color: #c12227
				color: #fff
				&:before
					background: url('../img/icons/dots-white.png') no-repeat
.news-nav
	>*
		display: inline-block
	span
		width: 35px
		height: 35px
		border: 1px solid #cad2d9
		cursor: pointer
		&.prev
			background: url('../img/icons/arrow-left.png') no-repeat center
		&.next
			background: url('../img/icons/arrow-right.png') no-repeat center










  


